.App {
  text-align: center;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.IdeasContainer {
  display: flex;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: lightyellow;
  font-size: 14px;
  text-align: left;
}
